<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="TCMIDBContext" connectionString="metadata=res://*/TCMModel.csdl|res://*/TCMModel.ssdl|res://*/TCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHERY-PC;initial catalog=TCMIDB;persist security info=True;user id=user1;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TCMIDBContext" connectionString="metadata=res://*/TCMModel.csdl|res://*/TCMModel.ssdl|res://*/TCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=b13236d6-316d-4866-8b28-a4da0029e30a.sqlserver.sequelizer.com;Database=dbb13236d6316d48668b28a4da0029e30a;User ID=pfutchrysnpmgoni;Password=WCpbBSQiGXq3wyt8ojDyuYBFMKQv2cJS4ZQifpF2DMnraWKtnKqfeh86bRvYctqE;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>